@{
  ViewData["Title"] = "Translations";
}
<div class="container-fluid">
  <table id="translations-table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Text</th>
        <th scope="col">Translated</th>
        <th scope="col">Translator</th>
      </tr>
    </thead>
  </table>
</div>
@section Scripts {
  <script src="~/js/datatables.min.js"></script>
  <script src="~/js/translation.js"></script>
}